In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as ms

In [6]:
df = pd.read_csv("data_selection1.csv",index_col=0)

In [7]:
df.head()

,average_rating,num_pages,ratings_count,text_reviews_count,eng,fre,others,spa,publication_year
0,4.57,652,2095690,27591,1,0,0,0,2006.0
1,4.49,870,2153167,29221,1,0,0,0,2004.0
2,4.42,352,6333,244,1,0,0,0,2003.0
3,4.56,435,2339585,36325,1,0,0,0,2004.0
4,4.78,2690,41428,164,1,0,0,0,2004.0

In [8]:
X = df.drop("average_rating",axis=1)
y = df["average_rating"]

In [10]:
X.head()

,num_pages,ratings_count,text_reviews_count,eng,fre,others,spa,publication_year
0,652,2095690,27591,1,0,0,0,2006.0
1,870,2153167,29221,1,0,0,0,2004.0
2,352,6333,244,1,0,0,0,2003.0
3,435,2339585,36325,1,0,0,0,2004.0
4,2690,41428,164,1,0,0,0,2004.0

In [11]:
y.head()

0    4.57
1    4.49
2    4.42
3    4.56
4    4.78
Name: average_rating, dtype: float64

In [13]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test= train_test_split(X,y, test_size=0.2,random_state=101)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((8901, 8), (2226, 8), (8901,), (2226,))

In [16]:
model = DecisionTreeRegressor(random_state=101)
model.fit(X_train, y_train)
model.score(X_test, y_test)

-0.5816954254032156